<?xml version='1.0' encoding='utf-8'?>
<widget id="designer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Designer</name>
    <description>
        Designer Shop App
    </description>
    <author email="mail@mozg.pro" href="https://mozg.pro">
        Mozg.pro
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-legacy-whitelist" spec="1.1.1" />
	<access origin="http://tumanskaya.com" />
</widget>
